SemanticKernelExperiments/AgentFramworkExperiment/bin/
SemanticKernelExperiments/AgentFramworkExperiment/obj/
SemanticKernelExperiments/.vs/
SemanticKernelExperiments/ApiKeysManager/bin/
SemanticKernelExperiments/ApiKeysManager/obj/
SemanticKernelExperiments/GettingStarted/bin/
SemanticKernelExperiments/GettingStarted/obj/
SemanticKernelExperiments/AIParserTestApp/obj/AIParserTestApp.csproj.nuget.g.props
SemanticKernelExperiments/AIParserTestApp/obj/
SemanticKernelExperiments/AIParserTestApp/bin/
